openapi: 3.0.8
info:
  title: Pet Arabia Stock & Prices API
  description: |-
    This is a Pet Arabia's Server based on the OpenAPI 3.0 specification. You can search for the products available to you and request for their qun
  contact:
    email: it@petarabia.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"



servers:
  - url: https://petarabia.odoo.com/stock-update/api/v1
  
tags:
  - name: Branch
    description: Everything about our branches
  - name: Product
    description: Everything about our products and their stock count

# webhooks:
#   # Each webhook needs a name
#   newPet:
#     # This is a Path Item Object, the only difference is that the request is initiated by the API provider
#     post:
#       requestBody:
#         description: Information about a new pet in the system
#         content:
#           application/json:
#             schema:
#               $ref: "#/components/schemas/Product"
#       responses:
#         "200":
#           description: Return a 200 status to indicate that the data was received successfully
    
paths:
  /branch:
    get:
      tags:
        - Branch
      summary: Get Branches available to you
      description: Return a list of Branches
      operationId: getBranches
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Branch'
        '404':
          description: No branches found!
      security:
        - api_key: [kkkk]
        
  /product:
    get:
      tags:
        - Product
      summary: Explore all Products
      description: Returns a list of Products
      operationId: getAllProducts
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '404':
          description: Not found!
      security:
        - api_key: [kkkk]
        
  /product/{barcode}:
    get:
      tags:
        - Product
      summary: Explore Product by Barcode
      description: Returns a Single Product with all its details
      operationId: getProductByBarcode
      parameters:
        - name: barcode
          in: path
          description: Barcode / SKU of product to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Product Not Found
      security:
        - api_key: [kkkk]

components:
  schemas:
    Product:
      type: object
      properties:
        barcode:
          type: string
          example: "99009910"
        name:
          type: string
          example: "Taste of the Wild"
        price:
          type: number
          example: 32.5
        quantities:
          type: array
          items:
            $ref: '#/components/schemas/BranchQty'

    BranchQty:
      type: object
      properties:
        branch_id:
          type: integer
          format: int32
          example: 19
        quantity:
          type: integer
          format: int64
          example: 42
          
    Branch:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 19
        name:
          type: string
          example: Sanad
        
  
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  requestBodies:
    Product:
      description: Pet object that needs to be added to the store
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Product'
            
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header